<div class="container-imagem-erro">
  <div class="container-imagem-texto">
    <div class="container-imagem">
      <img src="assets/aviso-sem-dados/Not Found illustration.svg" alt="">
    </div>
    <div class="container-texto-erro">
      <div class="container-texto-ops">
        <span class="span-info">          
          {{'dashboard-aviso-sem-dados-1' | translate}}
        </span>
      </div>
      <div class="container-texto-msg">       
        {{'dashboard-aviso-sem-dados-2' | translate}}
      </div>
    </div>
  </div> 
  
</div>
 