.container-filtro-mobile {
  display: none !important;

  @media screen and (max-width: 1020px) {
    display: block !important;
  }
}

.titulo-portal-base {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.container-navbar-mobile {
  display: none;
  @media screen and (max-width: 1030px) {
    // justify-content: center;
    // padding-left: 16px;
    // padding-right: 16px;
    // z-index: 9999;
    justify-content: flex-start !important;
    display: flex !important;
  }
}

.container-navbar {
  display: flex;
  @media screen and (max-width: 1030px) {
    // justify-content: center;
    // padding-left: 16px;
    // padding-right: 16px;
    // z-index: 9999;
    display: none;
  }
}

.container-navbar,
.container-navbar-mobile {
  background: #fefefe;
  border: 1px solid #fefefe;
  box-sizing: border-box;
  box-shadow: 0px 0.5px 2px rgb(53 51 52 / 16%);
  height: 80px;
  // display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
  width: -webkit-fill-available;

  .conteudo-navbar {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: 1020px) {
      //  display: none;
    }

    .titulo-page {
      padding-top: 5px;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 30px;
      color: black;
      display: flex;
      @media screen and (max-width: 1020px) {
        display: none;
      }
    }

    .titulo-page-home {
      padding-top: 20px;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
      color: #1b212d;
      display: flex;

      @media screen and (max-width: 1020px) {
        display: none;
      }
    }
  }
}

.logo-pages {
  padding: 16px 16px 16px 72px;
  padding: 14px;
  width: 99px;
  height: 48px;
  width: 52px;
  cursor: pointer;
}

.logo-pages-mobile {
  cursor: pointer;
}

.base-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.screen-pages {
  padding: 16px 16px 16px 23px;
  // padding: 14px;
  // width: 99px;
  height: 16px;
  opacity: 0.6;
}

.titulo-page-item {
  margin-right: 32px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #21222c;

  a {
    text-decoration: none;
    color: #21222c;
  }
}
.titulo-page-list {
  display: list-item;
}

a {
  text-decoration: none;
  color: #21222c;
}

.titulo-page-list::marker {
  color: #6e778b !important;
}

// NOVO
.filter {
  position: fixed;
  width: 289px;
  // height: 100%;
  right: 2px;
  padding: 4px 0 40px 0px;
  z-index: 20;
  background: #ffffff;
  border: 1px solid #c2d5e3;
  box-sizing: border-box;
  border-radius: 4px 0px 0px 4px;
  transition: ease-in-out 500ms;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.filter-close {
  width: 0px;
  right: -1000px;
  animation: fade 1s ease-in-out;
}

.filtro-mobile {
  display: none;
  // border: 1px solid #f8f8f8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 68px;
  height: 58px;

  @media screen and (max-width: 1020px) {
    display: flex;
    justify-content: left;
    align-items: center;
    width: auto;
  }
}

.menu-mobile {
  display: none;
  box-sizing: border-box;
  border-radius: 4px;
  height: 58px;
  padding: 4px;

  @media screen and (max-width: 1020px) {
    display: flex;
    justify-content: left;
    align-items: center;
  }
}

.filtro-pc {
  display: flex;

  @media screen and (max-width: 1020px) {
    display: none;
  }
}

.img-filtro {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 25px;
  // height: 25px;
}

.container-filtro-selecionado {
  display: flex;
  align-items: center;
  padding-top: 4px;
  @media screen and (max-width: 1020px) {
    display: none;
  }
  .filtro-selecionado {
    width: auto;
    padding: 4px 8px 4px 8px;
    display: flex;
    background: #1b212d;
    border-radius: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #fefefe;
    margin-right: 4px;
  }

  .fechar-circulo {
    width: 16px;
    height: 16px;
    padding-left: 4px;
    cursor: pointer;
  }
}

.msn-alerta {
  position: absolute;
  right: 0px;
  top: 40px;
  display: inline-block;
  margin: 16px;
  vertical-align: top;
  width: 360px;
  height: 200px;
  box-shadow:
    0 5px 1px -2px rgb(0 0 0 / 20%),
    0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  // background: #fefefe;
  background: #fefefef8;
  border-radius: 6px;
  z-index: 9999;

  .conteudo-msn {
    padding-left: 16px;
    padding-right: 16px;
    height: auto;
    max-height: 120px;
    min-height: 120px;
    overflow: auto;
  }

  .titulo-alerta {
    display: flex;
    height: 15px;
    // box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%);
    justify-content: space-between;
    align-items: center;
    padding: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1b212d;
    .btn-close {
      cursor: pointer;
      width: 20px;
      height: 20px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #1b212d;
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: cursive !important;
    }
  }
}

.ckeckbox-nomore {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  // font-weight: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #58565693;
}

.checkbox-style {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  color: #4f4f4fad;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #4056b7 !important;
  border-radius: 4px !important;
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: #4056b7 !important;
  border-radius: 4px !important;
}

::ng-deep .mat-checkbox-frame {
  border-color: rgba(0, 0, 0, 0.307) !important;
}

.progresso-navbar-base {
  top: 73px;
  position: fixed;
  z-index: 9999;
  background: #ccd4db;
  width: 100%;
  height: 3px;
  border-radius: 16px;
}

.progresso-navbar {
  background: #4056b7;
  width: 0%;
  height: 3px;
  border-radius: 16px;
  margin-left: 2px;
  margin-right: 2px;

  -webkit-transition: width 3s ease-in-out;
  -moz-transition: width 3s ease-in-out;
  -o-transition: width 3s ease-in-out;
  transition: width 2s ease-in-out;
  font-size: 12px;
}

.input-formulario {
  @media screen and (max-width: 1020px) {
    display: none;
  }
  border-radius: 4px;
  border: 2px solid var(--Brand-Colour-Marian-Blue, #3b4395);
  background: var(--Brand-Colour-Marian-Blue, #3b4395);

  margin: 16px 12px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 113px;
  height: 48px;

  border-radius: 4px;
  cursor: pointer;

  .text-input {
    color: var(--Background-White, #fefefe);

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: 0.5px;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.menu-mobile-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  animation: slideRight 0.5s ease forwards;
  z-index: 999999;

  display: none;
  @media screen and (max-width: 1020px) {
    display: block;
  }
}

@keyframes slideRightClose {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.menu-mobile-list-close {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  animation: slideRightClose 0.5s ease forwards;
  z-index: 999999;

  display: none;
  @media screen and (max-width: 1020px) {
    display: block;
  }
}

.header-mobile-menu {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px 16px 0px;
  border-bottom: 1px solid #e3e4e8;
  margin: 0px 12px 0px 14px;
  top: 6px;
  position: relative;
}

.close-menu-mobile {
  margin: 8px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url(../../../assets/imagePages/Clear.svg);
  background-repeat: no-repeat;
}

.set-menu-mobile {
  margin: 8px;
  cursor: pointer;
  width: 24px;
  height: 40px;
  background-image: url(../../../assets/imagePages/Chevron.svg);
  background-repeat: no-repeat;
}

.container-logo {
  display: flex;
  gap: 12px;
  align-items: center;

  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
  }

  .subTitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
  }
}
