.input-senha-eye {
  // background-image: url(../../../assets/login/icon-eye.svg);
  background-repeat: no-repeat !important;
  // background-position: 95% 26px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  margin-left: 225px;
  margin-top: -3px;
  @media screen and (max-width: 1020px) {
    margin-left: 318px;
  }
}

.input-senha-eye-open {
  //background-image: url(../../../assets/login/icon-eye-open.svg);
  background-repeat: no-repeat !important;
  // background-position: 95% 26px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  margin-left: 225px;
  margin-top: -3px;
  @media screen and (max-width: 1020px) {
    margin-left: 318px;
  }
}

.header-dialog {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .icone-close-dialog {
    cursor: pointer;
  }
}

.title-dialog {
  color: var(--Text-Raisin-Black, #21222c);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 100% */
}

.sub-title-dialog {
  color: var(--neutral-02, #696c80);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  width: 512px;
}

.container-input {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.container-input-0 {
  display: flex;
  height: 240px;
  // justify-content: center;
  // align-items: center;
}

.btn-enviar {
  border-radius: 6px;
  background: #4193c0;
  color: #fefefe;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  width: 187px;
  height: 48px;
}

.btn-cancelar {
  border-radius: 6px;
  border: 1px solid #dfe0e7;
  background: #fefefe;
  color: #696c80;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  width: 145px;
  height: 48px;
}

.content-tela {
  padding-top: 16px;
  display: grid;
  justify-content: start;
  align-items: center;

  .row-content {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 16px;
  }
}

.input-medio-dialog {
  width: 260px;
  border-radius: 6px;
  border: 1px solid var(--neutral-04, #bbbdcc);
  background: var(--background-main, #fff);
  height: 48px;
  margin-right: 16px;
}

.text-area-obs {
  display: flex;
  height: 128px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--neutral-04, #bbbdcc);
  background: var(--background-main, #fff);
  width: 509px;

  overflow: hidden;
  color: var(--neutral-01, #12131a);
  text-overflow: ellipsis;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  resize: none;
}

.info-input {
  color: var(--neutral-02, #696c80);
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  position: relative;
  top: -15px;
}

.input-erro {
  border: 1px solid red !important;
}

::ng-deep :focus-visible {
  outline: -webkit-focus-ring-color auto 0px !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-label-wrapper {
  font-size: 12px !important;
  // top: 6px !important;
  // left: 3px !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0px 0.75em 8px 4px !important;
  background-color: transparent !important;
}

.container-tabela-principal {
  table {
    width: 860px;

    @media screen and (max-width: 1030px) {
      width: 100%;
    }
  }
}

.table-data-info {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
    gap: 8px;
  }

  .box {
    width: 100%;
  }

  .base-box {
    border-radius: 8px;
    border: 1px solid var(--Border-Platinum, #e3e4e8);
    background: var(--Background-White, #fefefe);
  }

  .box-info {
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    height: 110px;

    .title {
      color: var(--Text-Raisin-Black, #21222c);
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 27px; /* 150% */
      height: 62px;
    }

    .box-info-extra {
      display: flex;
    }

    .group-info-extra {
      width: 210px;
    }

    .title-extra {
      color: var(--Text-Raisin-Black, #21222c);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 21px; /* 150% */
    }

    .sub-extra {
      color: var(--Text-Slate-Gray, #727588);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 21px; /* 150% */
    }
  }

  .details-table {
    height: 60px;
    width: 100%;
    border-top: 1px solid var(--Border-Platinum, #e3e4e8);
    cursor: pointer;

    .box-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 19px;
      cursor: pointer;
    }

    .txt-details {
      color: var(--Brand-Colour-Byzantine-Blue, #4c58ca);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      cursor: pointer;
    }
  }
}

.container-pagination {
  margin-left: auto;

  @media screen and (max-width: 1030px) {
    margin: auto;
    margin-left: 28%;
  }
}

.tabela-footer {
  display: flex;

  @media screen and (max-width: 1030px) {
    position: fixed;
    bottom: 27px;
    width: 100%;
    background-color: #fff !important;
    text-align: center;
    z-index: 1000;
    left: 0px;
  }
}

::ng-deep .cdk-overlay-pane {
  max-width: 100% !important;
}

::ng-deep .mat-dialog-content {
  overflow: hidden;
  overflow-y: auto;

  @media screen and (max-width: 1030px) {
  }
}

.form-register-popup {
  border-radius: 24px;
  display: inline-flex;
  padding: 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 860px;

  @media screen and (max-width: 1030px) {
    height: 888px;
    width: 100%;
    padding: 22px;
    padding: 0px;
  }

  .componente-9 {
    width: 100%;
    .wrapper-form {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      grid-gap: 2rem;
      margin-bottom: 12px;
    }

    .box-form {
      width: 100%;
      height: 90px;
      color: #fff;
      font-size: 18px;
    }

    input,
    textarea {
      width: 100%;
      height: 56px;

      border-radius: 6px;
      border: 1px solid var(--Border-Platinum, #e3e4e8);
      background: var(--Background-White, #fefefe);
      pointer-events: none;
      cursor: no-drop;
      color: var(--neutral-texts-paynes-gray, #606f7d);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      padding-left: 6px;
    }

    label {
      color: var(--Text-Raisin-Black, #21222c);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
    }

    textarea {
      height: 120px;
    }

    .btn-send {
      border-radius: 8px;
      background: var(--Brand-Colour-Marian-Blue, #3b4395);
      cursor: pointer;
      width: 216px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 1030px) {
        width: 100%;
      }

      .text {
        color: var(--Background-White, #fefefe);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        cursor: pointer;
        margin: auto;
        display: flex;
      }
    }
  }
}

// ::ng-deep .mat-dialog-content {
//   align-items: end !important;
// }

// ::ng-deep .cdk-global-overlay-wrapper {
//   align-items: end !important;
// }
